{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id veritatis aperiam, accusamus quos repellendus architecto vero ullam ipsum inventore itaque provident ad dolore saepe modi deserunt illum sequi perspiciatis cumque rem? Dicta, corporis dolorum ducimus cupiditate excepturi id ea labore necessitatibus vel tempora iusto optio, blanditiis minima. Ab illum ratione, iusto eligendi, laudantium recusandae fugiat dolorem minus nobis similique praesentium voluptatem? Facilis minima deserunt dicta nemo libero expedita, ipsam natus, corporis dolore quo dignissimos nesciunt excepturi sit saepe dolores? Cumque molestias repellat ipsam nihil tenetur in rerum quo voluptates, maiores voluptatibus quae corporis veniam dolores alias doloribus non qui quaerat?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>

{% endblock %}